<!DOCTYPE html>
<html lang="en">
{{> main}}
<body>
    <div class="project-banner" style="background-image:url({{project.bannerphoto}})">
        <div class="project-banner-white">
            <div class="project-title">
            <div class="project-name"> {{project.title}}</div>
            <div class="project-category">{{project.category}}</div>
            </div>
        </div>
    </div>

    <div class="project-block">
        <div class="project-description">{{project.description}}</div>
        <div class="project-web">
            <i id="project-arrow" class="fas fa-long-arrow-alt-right"></i>
            <a href="{{project.url}}" class="project-web-name" target="_blank">{{project.sitename}}</a>
        </div>
        <div class="project-deliv-title">Deliverables</div>
        {{#each project.deliverables}}
            <li class="project-deliverables">{{this}}</li>
        {{/each}}
        <div class="project-tools-title"> Tools  </div>
        {{#each project.tools}}
        <li class="project-tools">{{this}}</li>
        {{/each}}
    </div>

    {{>(eachPartialPage project.id)}}
{{> footer}}
</body>
</html>